awsebcli==3.8.3
botocore==1.4.65
cement==2.8.2
colorama==0.3.7
Django==1.10.1
django-filter==0.14.0
djangorestframework==3.4.6
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.12
jmespath==0.9.0
Markdown==2.6.6
pathspec==0.3.4
Pillow==3.1.0
psycopg2==2.6.2
pycrypto==2.6.1
python-dateutil==2.5.3
PyYAML==3.12
requests==2.9.1
semantic-version==2.5.0
six==1.10.0
spotipy==2.3.7
ssh==1.8.0
texttable==0.8.6
virtualenv==14.0.1
virtualenvwrapper-win==1.2.1
websocket-client==0.37.0
