option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "abetameal.settings"
    "PYTHONPATH": "/opt/python/current/app/abetameal:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: abetameal/abetameal/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"